// Raised
.raised-1
{
    box-shadow: var(--fbx-raised-level-one);
}
.raised-2
{
    box-shadow: var(--fbx-raised-level-two);
}
.raised-3
{
    box-shadow: var(--fbx-raised-level-three);
}
.raised-4
{
    box-shadow: var(--fbx-raised-level-four);
}
.flat
{
    box-shadow: none !important;
}