/* Darkmode  */
.fbx-darkmode .desktop-menu
{
    border-right: 1px solid var(--fbx-black-200);
}

.fbx-darkmode .docs-body > hr,
.fbx-darkmode .docs-body > .pjax-temp-swap-wrapper > hr
{
    background: var(--fbx-black-200);
}

.fbx-darkmode .desktop-menu .menu
{
    --fbx-menu-bg: var(--fbx-body-bg);
}
.fbx-darkmode .docs-body > ul li a:not(.btn),
.docs-body > .pjax-temp-swap-wrapper > ul li a:not(.btn)
{
    color: var(--fbx-gray-400);
}
.fbx-darkmode .fbx-snippet-demo
{
    border-color: var(--fbx-black-100);
}
.fbx-darkmode .menu
{
    --fbx-menu-bg: var(--fbx-black-900);
}

.fbx-darkmode #nprogress
{
    --fbx-nprogress-color: var(--fbx-black);
}
.fbx-darkmode .fbx-clipboard:not(:hover)
{
    color: var(--fbx-gray-300);
}

.fbx-darkmode pre[class*="language-file-path"]
{
    border-bottom: 1px solid var(--fbx-black-300)
}