.main-container
{
    position: relative;
    display: flex;
    align-items: stretch;
    margin-top: 80px;
    height: 100%;
}
.main-container .docs-body
{
    flex: 0 0 100%;
    width: 100%;
}
.desktop-menu
{
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    width: 280px;
    flex: 0 0 auto;
    display: none;
    border-right: 1px solid var(--fbx-gray-200);
}
.desktop-menu #docs-menu
{
    width: 100%;
    overflow-y: auto;
    @include _webkitScrollbars;
}
.desktop-menu .drawer-header
{
    display: none;
}
@media (min-width: 992px)
{
    .desktop-menu
    {
        display: flex;
    }
    body > .docs-drawer
    {
        display: none;
    }
    .main-container .docs-body
    {
        padding-left: 30px;
        padding-right: 30px;
        flex: 0 0 auto;
        width: calc(100% - 250px);
    }
}

// Homepage
.home-page
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left bottom, var(--fbx-body-bg) 0%, var(--fbx-theme-primary-900) 100%);
}
.home-code
{
    pre[class*=language-]
    {
        padding: 20px 60px 20px 20px;

        &:after
        {
            display: none;
        }
    }
    .fbx-code-snippet .fbx-clipboard
    {
        padding: 0px 17px;
        height: 100%;

        .fa
        {
            font-size: 2rem;
        }
    }
}

// Header
.navbar .nav-logo svg
{
    fill: var(--fbx-white);
}
@include media-breakpoint-down(lg)
{
    .nav-logo
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

// Footer
.site-footer
{
    background-color: var(--fbx-black-900);
    color: var(--fbx-gray-200);
    padding: 60px 0;
}
.site-footer .logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3rem;
}
.site-footer .logo svg
{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    fill: var(--fbx-theme-primary);
}
.site-footer
{
    text-align: center;
}
@media (min-width: 992px)
{
    .site-footer
    {
        text-align: unset;
    }
}
