// Copy button and language
pre:after
{
    color: var(--fbx-gray-400);
    content: attr(data-lang);
    font-size: 10px;
    font-weight: 600;
    height: 15px;
    line-height: 15px;
    position: absolute;
    left: 16px;
    text-align: right;
    top: 8px;
}
.fbx-code-snippet
{
    position: relative;    
    .fbx-clipboard
    {
        --fbx-tooltip-bg: var(--fbx-theme-primary);
        position: absolute;
        top: 0;
        right: 0;
        color: var(--fbx-gray-900);
        padding: 10px;

        .fa
        {
            font-size: 1.4rem;
        }

        &:hover .fa,
        &.copied .fa
        {
            color: var(--fbx-theme-primary);
        }
        &.copied:after,
        &.copied:before
        {
            display: inline-block;
            text-decoration: none;
        }
        &.copied:after
        {
            content: 'Copied!' !important;
        }
    }

}

pre[class*=language-]
{
    position: relative;
    padding: 30px 16px 16px 16px;
    margin: 0;
    overflow: auto;
}
pre
{
    @include _webkitScrollbars;
}

/* Snippets with file path  */
.fbx-code-snippet.file-path 
{
    margin-bottom: 0;
}
.fbx-code-snippet.file-path + .fbx-code-snippet
{
    margin-top: 0;
}
.fbx-code-snippet.file-path .fbx-clipboard
{
    display: none;
}
pre[class*="language-file-path"]
{
    padding: 8px 16px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--fbx-gray-300);
    font-size: 12.5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
pre[class*="language-file-path"]:after
{
    content: '';
    display: none;
}
.fbx-code-snippet.file-path + .fbx-code-snippet pre
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 10px;
}
.fbx-code-snippet.file-path + .fbx-code-snippet pre:after
{
    content: '';
    display: none;
}
.fbx-code-snippet.file-path + .fbx-code-snippet .fbx-clipboard
{
    top: -36px;
}