.pjax-swapping-content
{
	--fbx-pjax-transform-in: #{$pjax-transform-in};
	--fbx-pjax-transform-out: #{$pjax-transform-out};
	--fbx-pjax-transition-in: #{$pjax-transition-in};
	--fbx-pjax-transition-out: #{$pjax-transition-out};

	position: relative;
	overflow: hidden;

	.pjax-temp-swap-wrapper
	{
		position: absolute;
    	top: 0;
    	left: 0;
    	opacity: 0;
    	width: 100%;
    	overflow: hidden;
    	transform: var(--fbx-pjax-transform-in);
    	transition: var(--fbx-pjax-transition-in);
	}

	.pjax-prev-content
	{
		opacity: 1;
		transform: translate3d(0px, 0px, 0px);
		transition: var(--fbx-pjax-transition-out);
	}

	&.active
	{
		.pjax-prev-content
		{
			opacity: 0;
			transform: var(--fbx-pjax-transform-out);
		}
		.pjax-temp-swap-wrapper
		{
			transform: translate3d(0px, 0px, 0px);
			opacity: 1;
		}
	}
}