@use "sass:map";

.popover
{
    --fbx-popover-max-width: #{$popover-max-width};
    --fbx-popover-shadow: #{$popover-shadow};
    --fbx-popover-font-size: #{$popover-font-size};
    --fbx-popover-title-size: #{$popover-title-size};
    --fbx-popover-radius: #{$popover-radius};
    --fbx-popover-pad-y: #{$popover-pad-y};
    --fbx-popover-pad-x: #{$popover-pad-x};
    --fbx-popover-bg: #{$popover-bg};
    --fbx-popover-color: #{$popover-color};
    --fbx-popover-title-color: #{$popover-title-color};
    --fbx-popover-title-border: #{$popover-title-border};

    position: absolute;
    font-size: var(--fbx-popover-font-size);
    border-radius: var(--fbx-popover-radius);
    max-width: var(--fbx-popover-max-width);
    box-shadow: var(--fbx-popover-shadow);
    background-color: var(--fbx-popover-bg);
    color: var(--fbx-popover-color);
    z-index: var(--fbx-zindex-popover);
    @include raised($popover-shadow);

    .popover-title
    {
        font-size: var(--fbx-popover-title-size);
        color: var(--fbx-popover-title-color);
        border-bottom: var(--fbx-popover-title-border);
        border-top-left-radius: var(--fbx-popover-radius);
        border-top-right-radius: var(--fbx-popover-radius);
        margin-bottom: 0;
        padding: var(--fbx-popover-pad-y) var(--fbx-popover-pad-x);
    }
    .popover-content
    {
        padding: var(--fbx-popover-pad-y) var(--fbx-popover-pad-x);
    }
    
    // Themes
    p
    {
        padding: 0;
        font-size: var(--fbx-popover-font-size);
        &:last-child
        {
            margin-bottom: 0;
        }
    }
    .close-btn
    {
        --fbx-btn-icon-color: var(--fbx-gray-300);
        position: absolute;
        cursor: pointer;
        top: 2px;
        right: 5px;
        width: 30px;
        height: 30px;
    }

    // Variants
    @each $context, $colors in $contexts
    {    
        $color: map.get($colors, "color");
        $basename: _color-name-from-var($color);

        &.popover-#{$context}
        {
            --fbx-popover-title-color: #ffffff;

            .popover-title
            {
                background-color: #{$color};
                border-color: #{$color};
                font-weight: $text-bolder;
            }
            .close-btn
            {
                --fbx-btn-icon-color: var(--fbx-#{$basename}-800);
            }
        }
    }
}

// Animations
@keyframes popoverfade
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 1;
    }
}
@keyframes popoverpop
{
    from
    {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    50%
    {
        opacity: 1;
    }
}

.popover-fade
{
    animation-name: popoverfade;
    animation-duration: .35s;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.popover-pop
{
    animation-name: popoverpop;
    animation-duration: .25s;
    animation-fill-mode: both;
}
