.pagination
{
    --fbx-pagination-radius: #{$pagination-radius};
    --fbx-pagination-link-pad-x: #{$pagination-link-pad-x};
    --fbx-pagination-link-pad-y: #{$pagination-link-pad-y};
    --fbx-pagination-color: #{$pagination-color};
    --fbx-pagination-hover-color: #{$pagination-hover-color};
    --fbx-pagination-hover-bg: #{$pagination-hover-bg};
    --fbx-pagination-border-color: #{$pagination-border-color};
    --fbx-pagination-active-color: #{$pagination-active-color};
    --fbx-pagination-active-bg: #{$pagination-active-bg};

    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: var(--fbx-pagination-radius);
    overflow: hidden;

    li
    {
        display: inline;

        > *
        {
            padding: var(--fbx-pagination-link-pad-y) var(--fbx-pagination-link-pad-x);
            color: var(--fbx-pagination-color);
            border: 1px solid var(--fbx-pagination-border-color);
            transition: background var(--fbx-ease-time-xs) var(--fbx-base-easing), color var(--fbx-ease-time-xs) var(--fbx-base-easing);
            position: relative;
            float: left;
            margin-left: -1px;
            text-decoration: none;
            background-color: transparent;
        }

        a, a:hover
        {
            text-decoration: none;
        }

        // Hover
        &:hover a
        {
            color: var(--fbx-pagination-hover-color);
            background-color: var(--fbx-pagination-hover-bg);
        }

        // active
        &.active
        {
            > *
            {
                color: var(--fbx-pagination-active-color);
                background-color: var(--fbx-pagination-active-bg);
                border-color: var(--fbx-pagination-active-bg);
            }
        }

        // Disabled
        &.disabled
        {
            > *
            {
                color: var(--fbx-pagination-color);
                background-color: transparent;
                border: 1px solid var(--fbx-pagination-border-color);
                cursor: not-allowed;
                opacity: 0.75;
            }
        }

        // Border setups
        &:first-child > *
        {
            margin-left: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        &:last-child > *
        {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }

    // Button style
    &.pagination-btns
    {
        > li
        {
            display: inline-block;
            
            > *
            {
                border-radius: var(--fbx-pagination-radius);
            }
        }
    }

    // borderless
    &.pagination-borderless
    {
        > li > *
        {
            border: 1px solid transparent;
        }

        > li:not(:active):not(.disabled):hover > *
        {
            background-color: transparent;
            color: var(--fbx-pagination-active-bg);
        }
        
        > li.active > *,
        > li.active > *:hover
        {
            background-color: transparent;
            color: var(--fbx-pagination-active-bg);
        }
    }
}