.fancy-link
{
	--fbx-link-color: var(--fbx-theme-primary);

	position: relative;
	transition: .2s ease;
	&:after
	{
		content: "";
	    bottom: -8px;
	    height: 1px;
		width: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		position: absolute;
		background-color: var(--fbx-link-color);
		transition: .2s ease;
	}
	&:hover
	{
		text-decoration: none;
		color: var(--fbx-link-color);
		&:after
		{
			width: 100%;
		}
	}
}