.form-result
{
    display: none;
    overflow: hidden;
    padding-top: 20px;
    backface-visibility: visible !important;
    animation-name: flipInX;
    .msg
   
   {
        width: 100%;
        opacity: 0;
        display: none;
        margin-bottom: 0;
    }
}

form.default .form-result,
form.danger  .form-result,
form.info    .form-result,
form.warning .form-result,
form.success .form-result
{
    display: flex;
    animation-duration: .5s;
    animation-fill-mode: both;
}
form.default .msg-default,
form.danger .msg-danger,
form.info .msg-info,
form.warning .msg-warning,
form.success .msg-success
{
    display: flex;
    opacity: 1;
}

@keyframes flipInX
{
    from
    {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40%
    {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
        opacity: 1;
    }

    60%
    {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }

    80%
    {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to
    {
        transform: perspective(400px);
    }
}