.btn-group
{
	--fbx-btn-group-radius: #{$btn-group-radius};

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

	> .btn
	{
		display: inline-block;
		border-radius: 0;
		
	}

	> :not(:first-child)
	{
		margin-left: -1px;
	}
	> :first-child, .drop-container:first-child > .btn
	{
		border-top-left-radius: var(--fbx-btn-group-radius);
		border-bottom-left-radius: var(--fbx-btn-group-radius);
	}
	> :last-child, .drop-container:last-child > .btn
	{
		border-top-right-radius: var(--fbx-btn-group-radius);
		border-bottom-right-radius: var(--fbx-btn-group-radius);
	}

	&.btn-group-pill
	{
		> :first-child
		{
			border-radius: 100px 0 0 100px;
		}
		> :last-child
		{
			border-radius: 0 100px 100px 0;
		}
		.fa, .fa-brands
		{
			margin-right: 0;
		}
	}
}